---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Technology Blogs";
import BlogSearch from "../components/BlogSearch";
import StringDate from "../components/StringDate";
import React from "react";
const allPosts = await Astro.glob('./blogs/*.mdx');
---

<BaseLayout pageTitle={pageTitle}>
    <div class="flex flex-col md:flex-row items-center max-w-3xl p-2 mb-5 mt-5 mx-auto">
        <h1 class="text-5xl mb-4 md:mb-0 md:mr-4">{pageTitle}</h1>
    </div>
    <BlogSearch searchList={allPosts} client:load />
    <div class="max-w-4xl mx-auto divide-y divide-gray-200">
        {allPosts.map((item) => (
                <div class="py-4">
                    <h2 class="text-2xl font-semibold text-theme-3">{item.frontmatter.title}</h2>
                    <p class="mt-2 text-base text-theme-4 dark:text-theme-1">{item.frontmatter.description}</p>
                    <p class="mt-1 text-sm text-theme-4 dark:text-theme-1">Tags: <span
                            class="text-gray-600 dark:text-theme-2">{item.frontmatter.tags.join(', ')}</span></p>
                    <a href={item.frontmatter.slug}
                       class="mt-1 text-sm text-blue-500 dark:text-theme-0 underline-offset-2 underline hover:text-theme-2"
                       target="_blank" rel="noopener noreferrer">Learn more</a>
                    <p class="mt-1 text-sm text-theme-4 dark:text-theme-0">
                        Published on: <span class="text-gray-600 dark:text-theme-2">
                        <StringDate date={item.frontmatter.pubDate}/></span>
                    </p>
                </div>
        ))}
    </div>


</BaseLayout>